<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-Investment">Initial Investment</label>
      <input
        id="initial-Investment"
        name="initial-Investment"
        type="number"
        [(ngModel)]="enteredInitialInvestment"
      />
    </p>

    <p>
      <label for="annual-Investment">Annual Investment</label>
      <input
        id="annual-Investment"
        name="annual-Investment"
        type="number"
        [(ngModel)]="enteredAnnualInvestment"
      />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        id="expected-return"
        name="expected-return"
        type="number"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>

    <p>
      <label for="Duration">Duration</label>
      <input
        id="Duration"
        name="Duration"
        type="number"
        [(ngModel)]="enteredDuration"
      />
    </p>
  </div>

  <p>
    <button>Calculate</button>
  </p>
</form>
