<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-Investment">Initial Investment</label>
      <input id="initial-Investment" type="number" />
    </p>

    <p>
      <label for="annual-Investment">Annual Investment</label>
      <input id="annual-Investment" type="number" />
    </p>
  </div>

  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" type="number" />
    </p>

    <p>
      <label for="Duration">Duration</label>
      <input id="Duration" type="number" />
    </p>
  </div>

  <p>
    <button>Calculate</button>
  </p>
</form>
